body{

	height: 100%;
	background-color: #555555;
}
	.form-control{
		width: 300px;

		margin-bottom: 20px;
	}

.form-control
{
	width: 300px;

}

.card-container.card {
    max-width: 350px;
    

hr{

	color: black;
	width: 100%;
}
}

.card {
    background-color: #FFFFFF;
    padding: 1px 25px 30px;
    padding-top: 30px;
    margin: 0px auto 25px;
    margin-top: 150px;
    border-radius: 10px;

}
.form-control:focus{

	border-color: orange;
	box-shadow:0 0 10px orange;
	
}
.btn
{
	color:white;
	background-color: orange;
	border-color: orange;//box-shadow:0 0 10px green;
}